{% extends 'tasks/base.html' %}
{% block title %} 
    Login
{% endblock %}
{% block content %}
<style>
    .container{
        content: center;
    }
    .form-group{
        font-size: 25px;
        align-content: center;
    }
    .form{
        margin-left: 30%;
        justify-content: center;
    }
</style>
<br>
<br>
    <center><h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
    </h1></center> 
    <br>
    {% if error %}
        <p>Invalid login credintials</p>
    {% endif %}
    <br>
    <br>
    <div class="container">
        <div class="form-group">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form" >
                        {{form.as_p}}
                    </div>
                <br>
                <br>
                <center>
                <button class="btn btn-primary" style="--bs-btn-font-size: 2rem; --bs-btn-padding-x:.75rem;--bs-btn-padding-y:.25rem;">Login</button>
            </center>
                </form>
                <br>
                <div class="d-flex justify-content-center" >
                    <h4>If you don't already have a username and password please contact your admin!!</h4>
                </div>    
        </div>
    </div>
{% endblock content %}