{% extends 'tasks/base.html' %} 
{% block title %}
  Profile 
{% endblock %}
  
{% block content %}
<br>
<br>
<br>
<div class="container">
  <center><h2>Welcome {{user.username}} to your profile page!</h2></center>
  <br>
  <br>
      <div class="content-section">
        <div class="media">
          <center><img
            class="rounded-circle account-img"
            src="{{ user.profile.image.url }}"
            style="height:150px;width:150px;"
          /></center>
          <div class="media-body">
            <a href="{% url 'change_password' %}" class="btn btn-primary">Change your Password</a>
          </div>
        </div>
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            <h2 class="account-heading">{{ user.first_name }} {{user.last_name}} </h2>
            <p class="text-secondary">Email: {{ user.email }}</p>
            <h3>From team: {{user.profile.team}} </h3>
            <h4>Role: {{user.profile.role}} </h4>
            <p>Bio: {{user.profile.bio}} </p>
          </fieldset>
          <div class="form-group">
            <a href="{% url 'profile_edit' %}" class="btn btn-outline-info" >Update Profile</a>
          </div>
      </div>
</div>
<script>
  // Add JavaScript code to handle the back button click event
  document.getElementById('backButton').addEventListener('click', function() {
    // Use the history object to navigate back
    window.history.back();
  });
  
  </script>
{% endblock %}