{% extends 'tasks/base.html' %} 
  
{% block title %}Login{% endblock %}
  
{% block content %}
<br>
<br>
<br>
  <center><h2>Welcome {{user.username}} to your profile page!</h2></center>
  <br>
  <br>
      <div class="content-section">
        <div class="media">
          <center><img
            class="rounded-circle account-img"
            src="{{ user.profile.image.url }}"
            style="height:150px;width:150px;"
          /></center>
          <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
          </div>
        </div>
        <!-- FORM HERE -->
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            <!-- {{ u_form}} -->
            <!-- User form -->
            <!-- {{ p_form }} -->
            <!-- Profile form -->
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
        </form>
      </div>
      <script>
        // Add JavaScript code to handle the back button click event
        document.getElementById('backButton').addEventListener('click', function() {
          // Use the history object to navigate back
          window.history.back();
        });
        </script>
{% endblock %}