{% extends 'tasks/base.html' %}
  
{% block title %}
to-do list
{% endblock %}
  
{% block content %}
<br>
<br>
<br>
<div class="container mt-4">
    <h2>To-Do List</h2>
    <br>
    <a href="{% url 'todoadd' %}" class="btn btn-success">Add a todo task</a>
    <br>
    <br>
    <br>
    <ul class="list-group">
      {% for todo in object_list %}
        <li class="list-group-item {% if todo.complete %}list-group-item-success{% endif %}">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h5 class="mb-1"><a href="{% url 'tododetail' todo.pk %}">{{todo.title}} </a></h5>
              {% if todo.description %}
                <p class="mb-1">{{ todo.description }}</p>
              {% endif %}
              <small>{{ todo.created|date:"F j, Y, g:i a" }}</small>
            </div>
            <div>
              <!-- <input type="checkbox" {% if todo.complete %}checked{% endif %} disabled> -->
            </div>
          </div>
        </li>
        <br>
        <br>
        <br>
        {% empty %}
        <h3>No Items in list!</h3>
      {% endfor %}
    </ul>
  </div>
{% endblock %}