{% extends 'tasks/base.html' %}
  
{% block title %}
to-do list
{% endblock %}
  
{% block content %}
<br>
<br>

<h1>My To-do List</h1>
<br>
<br>
<a href="{% url 'todoadd' %}" class="btn btn-success">Add a todo task</a>
<br>
<br>
<table>
    <tr>
        <th>Items</th>
    </tr>
    {% for todo in object_list %}
    <tr>
        <td><a href="{% url 'tododetail' todo.pk %}">{{todo.title}} </a></td>
    </tr>
    {% empty %}
        <h3>No Items in list!</h3>
    {% endfor %}
</table>
{% endblock %}