{% extends 'tasks/base.html' %}
{% block title %}
to-do add
{% endblock %}
  
{% block content %}
  <br>
  <br>
  <div class="container">
    <h2>Add a to-do task here!</h2>
    <form action="" method="POST">
      {%csrf_token%}
          {{form.as_p}}
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="submit" >Submit</button>
            <button class="btn btn-secondary" id="backButton">Back</button>
        </div>
        </form>
  </div>
<script>
  // Add JavaScript code to handle the back button click event
  document.getElementById('backButton').addEventListener('click', function() {
    // Use the history object to navigate back
    window.history.back();
  });
</script> 
{% endblock %}