{% extends 'tasks/base.html' %}
  
{% block title %}
Completed Projects
{% endblock %}
  
{% block content %}
<div class="container">
    <h1>Completed Projects</h1>
    <ul>
        {% for project in completed_projects %}
            <h3><li>{{ project.project_name }}</li></h3><br>
            {{ project.description }} <br>
            Start Date: {{ project.start_date }} <br>
            End Date: {{ project.end_date }} <br>
            <hr>
        {% endfor %}
    </ul>
</div>
{% endblock %}