{% extends 'tasks/base.html' %}
  
{% block title %}Home{% endblock %}
  
{% block content %}
<style>
  .form-group{
      background-image: linear-gradient(to right,rgb(15, 20, 54) 0%,#0869b3 70%, #6da7c8 100%);
      color: white;
      border-radius: 25px;
  }
  h3{
      text-align: center;
      font-family: Arial;
      font-size: 2rem;
  }
</style>
<br>
<div class="container">
    <section class="current_users justify-content-start" >
        {%if user.is_authenticated%}
        <h2>Online Users:</h2>
        <ul>
            {% for user_session in active_users %}
                <li>{{ user_session.user.username }} - {{ user_session.last_activity }}</li>
            {% endfor %}
        </ul>
        {%endif%}
    </section>
  <section class="section">
      <center><h1>Welcome to Brussley Tech !!</h1></center>
  <br>
  <h3>Latest News for the Crew!!</h3>
  <div class="form-group p-5 my-5 border">
      <ul>
          {%for news in announcement%}
              <li>
                  <h4>{{news.title}} </h4><small>{{news.date_added}} </small>
                  <p>{{news.content}} </p>
              </li>
              <hr>
          {%endfor%}
      </ul>
  </div>
  </section>
</div>
<!-- Add this script after including Bootstrap CSS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-wiAlp9fE6HQ7BOsELJilicWAjXP4oxve8LSEZnA8Pr15Lq8bb2Y1/tI76NXPYlWT" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}