{% extends 'tasks/base.html' %}
  
{% block title %}
    Project Detail
{% endblock %}
  
{% block content %}

<br>
{{progress_percentage}}
<br>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<br>
    <h2>{{ project.project_name }}</h2>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <small><a href="{% url 'project_update' project.id %}" class="">(Update Project)</a></small>
        {% endif %}
    {% endif %}
    
    <h2>Status: {{ project.status }}</h2>
    <br>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>
    <br>
    <p>{{ project.description|safe }}</p>
    <!-- Display other project details -->
        
        <br>
        {% if project.project_repo %}
            <a href="{{ project.project_repo }}" target="_blank">A link to {{ project.project_name }} project repository</a>
        {% else %}
            <p>No project repository available.</p>
        {% endif %}
        <br>
        <br>
        {%if project.project_file%}
            <a href="{% url 'projfile_download' project.id %}"  target="_blank">{{project.project_file}}</a>
        {%else%}
            <p>No files attached</p>
        {%endif%}
        <br>
        <br>
        {%if user.is_superuser%}
            <div class="d-flex justify-content-start"><a href="{% url 'task_add' project.id %}" class="btn btn-primary">Add Task</a></div>
        {%endif%}
        <br>
        <br>
    <h3>Tasks</h3>
    <ul>
    {% for task in tasks %}
        <li><h4><a href="{% url 'task_detail' task.id %}">{{ task.task_name }}</a></h4></li>
        <li>Assigned to:{{task.assigned_to}} </li>
        <li>Due date:{{task.due_date}} </li>
        <hr>
    {% endfor %}
    </ul>
    <div class="d-flex justify-content-center">
        <a href="{% url 'project_list' %}" class="btn btn-secondary">Back</a>
    </div>
   
    <script>
        // Get the progress bar element
        const progressBar = document.querySelector('.progress-bar');
        const progressPercentage = progressBar.getAttribute('aria-valuenow');
        progressBar.style.width = `${progressPercentage}`;
        // Add JavaScript code to handle the back button click event
        document.getElementById('backButton').addEventListener('click', function() {
          // Use the history object to navigate back
          window.history.back();
        });
    </script>
{% endblock %}