{% extends 'tasks/base.html' %}
  
{% block title %}
    Task details
{% endblock %}
  
{% block content %}
<br>
<br>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<br>
<div class="container">
  <h2>{{ task.task_name }} details</h2>
  {% if user.is_superuser %}
  <small><a href="{% url 'task_update' task.pk%}" class="">Edit Task</a></small>
{% endif %}
  {% if user.is_authenticated %}
  <small><a href="{% url 'update_task_progress' task_id=task.id %}" class="">(Update Progress)</a></small>
{% endif %}
  <p>Description: {{ task.description|safe }}</p>
  <p>Status: {{ task.status }}</p>
  <br>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>
<br>
<div class="d-flex justify-content-start">
  <a href="{% url 'comment_add' task.id %}" class="btn btn-primary">Add a comment</a>
</div>
<br>
<br>
  <h3>Comments</h3>
  <ul>
    {% for comment in comments %}
      <li>{{ comment.comment_text }} - {{ comment.timestamp }}</li>
    {% endfor %}
  </ul>

  <div class="d-flex justify-content-center">
    <!-- <a href="{% url 'project_detail' project_id=task.project.id %}"><button class="btn btn-secondary">Back</button></a> -->
    <a href="{% url 'home' %}"><button class="btn btn-secondary">Back</button></a>
  </div>
</div>
  <script>
    // Get the progress bar element
    const progressBar = document.querySelector('.progress-bar');
    const progressPercentage = progressBar.getAttribute('aria-valuenow');
    console.log("Progress bar: ", progressBar);
    console.log("progress_percentage ", progressPercentage);
    progressBar.style.width = `${progressPercentage}%`;
    // Add JavaScript code to handle the back button click event
    function goBack() {
      window.history.back();
  }
    </script>
{% endblock %}